<!DOCTYPE html>
<html>
  <head>
    <title>Mysite</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>

  <body>
    <%= render 'navbar' %>
    <div class="body-wrapper">
      <%= yield %>
      <%= render 'footer' %>
    </div>
  </body>

  <%= javascript_include_tag('parallax.js') %>
  <%= javascript_include_tag('https://use.fontawesome.com/7bd968ec64.js') %>
  <%= javascript_include_tag('https://unpkg.com/scrollreveal/dist/scrollreveal.min.js') %>
  <script>
    window.sr = ScrollReveal();
    sr.reveal('.reveal', { duration: 1000, delay: 50, reset: true });
  </script>
</html>
